{% extends "layout.html" %}
{% block content %}
    <head>
        <title>{{ subject.capitalize() }} Projects</title>
    </head>
    <body>
        <h1>{{ subject.capitalize() }} Projects</h1>
        <div>
            {% for project in projects %}
                <div>
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.summary }}</p>
                    <p>  </p>
                    <a href="{{ url_for('project', subject=subject, project_title=project.title) }}">
                        <button class="btn btn-outline-info">View Project</button>
                    </a>
                    <p>  </p>
                    <a href="{{ url_for('home') }}">
                        <button class="btn btn-outline-info">Back</button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </body>
{% endblock content %}
